package-lock=false
registry=https://registry.npmjs.org
always-auth = true
@eui:registry=https://arm.lmera.ericsson.se/artifactory/api/npm/proj-e-uisdk-npm-local/
@eds:registry=https://arm.rnd.ki.sw.ericsson.se/artifactory/api/npm/proj-eds-npm-local/